tr {
	height: 70px;
	min-height: 70px;
}
tr.sortie-row:hover {
	transition: all .5s;
	background-color: rgba(32, 35, 196, 0.02);
	cursor: pointer;
}

tr td {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* bateau */
tr td:nth-of-type(1) {
	width: 20%;
	white-space: break-spaces;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* place */
tr td:nth-of-type(2) {
	width: 16%;
}

/* plaisancier */
tr td:nth-of-type(3) {
	width: 30%;
	white-space: break-spaces;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* sorties */
tr td:nth-of-type(4) {
	text-align: center;
	width: 17%;
}
/* challenge */
tr td:nth-of-type(5) {
	text-align: center;
	width: 17%;
}

/* MODAL */
#sortieModal {
	display: flex;
	background-color: rgba(0, 0, 0, 0.4);
	justify-content: center;
	align-items: center;
}
#sortieModal.hide {
	display: none;
}

#sortieModal .modal-dialog {
	border-radius: 4px;
	background-color: white;
	width: 40%;
	min-width: 500px;
	padding: 10px;
}

#sortieModal .modal-body .body-title {
	margin-bottom: 10px;
}
#sortieModal .modal-content ul {
	max-height: 70vh;
	overflow-y: scroll;
}
#sortieModal .modal-body .list-group-item {
	display: flex;
	justify-content: space-around;
}
#sortieModal .modal-body #listGroupHeader {
	background-color: rgb(245, 245, 245);
	width: 98.6%;
	padding-left: 5%;
}
#sortieModal .modal-body .list-group-item div {
	width: 50%;
}
